In [12]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv0 = '../Presentation/clean/clean_od15.csv'
clean_od_2015 = pd.read_csv(csv0)

csv1 = '../Presentation/clean/clean_od16.csv'
clean_od_2016 = pd.read_csv(csv1)

csv2 = '../Presentation/clean/op_final_15.csv'
op_final_15 = pd.read_csv(csv2)

csv3 = '../Presentation/clean/op_final_16.csv'
op_final_16 = pd.read_csv(csv3)

csv4 = '../Presentation/clean/PAC_Scores_2015.csv'
PAC_Scores_2015 = pd.read_csv(csv4)

csv5 = '../Presentation/clean/PAC_Scores_2016_f.csv'
PAC_Scores_2016 = pd.read_csv(csv5)

csv6 = '../Presentation/clean/PAC_Scores_2016_f.csv'
PAC_Scores_2016 = pd.read_csv(csv6)

csv7 = '../Presentation/clean/op_pac_final_15.csv'
op_pac_final_15 = pd.read_csv(csv7)

csv8 = '../Presentation/clean/op_pac_final_16.csv'
op_pac_final_16 = pd.read_csv(csv8)

csv9 = '../Presentation/clean/state_op_final_15.csv'
state_op_final_15 = pd.read_csv(csv9)

csv10 = '../Presentation/clean/state_op_final_16.csv'
state_op_final_16 = pd.read_csv(csv10)

In [17]:
op_pac_final_15.head(3)

,PAC ID,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,State
0,42100190.0,241.0,68.0,28.22,MI
1,42100273.0,232.0,22.0,9.48,TX
2,42101156.0,620.0,38.0,6.13,NV

In [18]:
op_pac_final_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14853 entries, 0 to 14852
Data columns (total 5 columns):
PAC ID                     14853 non-null float64
Total Claim Count          14853 non-null float64
Opioid Claim Count         14853 non-null float64
Opioid Prescribing Rate    14853 non-null float64
State                      14853 non-null object
dtypes: float64(4), object(1)
memory usage: 580.3+ KB

In [15]:
PAC_Scores_2015.head(3)

   Group PAC ID  Measure Performance Rate  Year State
0      42105678                    65.875  2015    PA
1      42111981                    60.750  2015    MN
2      42128548                    65.125  2015    TX

In [19]:
PAC_Scores_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 4 columns):
Group PAC ID                429 non-null int64
Measure Performance Rate    429 non-null float64
Year                        429 non-null int64
State                       429 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 13.5+ KB