In [30]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv1 = '../Presentation/clean/cleaned_overdose.csv'
csv2 = '../Presentation/clean/op_final_15.csv'
csv3 = '../Presentation/clean/op_final_16.csv'
csv4 = '../Presentation/clean/pcgroup_15.csv'
csv5 = '../Presentation/clean/pcgroup_16.csv'

clean_od = pd.read_csv(csv1)
op_final_15 = pd.read_csv(csv2)
op_final_16 = pd.read_csv(csv3)
pcgroup_15 = pd.read_csv(csv4)
pcgroup_16 = pd.read_csv(csv5)

In [95]:
pcgroup_15.head()

,Group Name,Group PAC ID,State,Measure Title,Measure Performance Rate,Year
0,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,"Getting timely care, appointments, and informa...",63.0,2015
1,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Between visit communication.,49.0,2015
2,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Attention to patient medication cost.,27.0,2015
3,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,How well clinicians communicate.,86.0,2015
4,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Patients' rating of clinicians.,83.0,2015

In [97]:
uniq = pcgroup_15['Group PAC ID'].nunique()
uniq

429

In [35]:
#get states of PAC IDs
PAC_state = pcgroup_15[['Group PAC ID', 'State']].copy()
PAC_state = PAC_state.drop_duplicates()
PAC_state.head(5)

    Group PAC ID State
0       42105678    PA
8       42111981    MN
16      42128548    TX
24     143378117    NC
32     244133494    MA

In [10]:
#mean scores for PAC_ID 
PAC_Scores = pd.DataFrame(pcgroup_15.groupby(['Group PAC ID']).mean())
PAC_Scores.head(3)
#429 rows

              Measure Performance Rate  Year
Group PAC ID
42105678                        65.875  2015
42111981                        60.750  2015
42128548                        65.125  2015

In [74]:
PAC_Scores_2015 = pd.merge(PAC_Scores, PAC_state, on="Group PAC ID",how='outer')
PAC_Scores_2015.head()

   Group PAC ID  Measure Performance Rate  Year State
0      42105678                    65.875  2015    PA
1      42111981                    60.750  2015    MN
2      42128548                    65.125  2015    TX
3     143378117                    67.375  2015    NC
4     244133494                    65.625  2015    MA

In [75]:
# Export PAC_Scores_2015 as a CSV, without the Pandas index, but with the header
PAC_Scores_2015.to_csv("../Presentation/clean/PAC_Scores_2015.csv", index=False, header=True)

In [79]:
PAC_Scores_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 429 entries, 0 to 428
Data columns (total 4 columns):
Group PAC ID                429 non-null int64
Measure Performance Rate    429 non-null float64
Year                        429 non-null int64
State                       429 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 16.8+ KB

In [76]:
pcgroup_16.head(2)

,Group Name,Group PAC ID,State,Measure Title,Measure Performance Rate,Year
0,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,"Getting timely care, appointments, and informa...",64.0,2016
1,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Between visit communication.,53.0,2016

In [78]:
pcgroup_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3808 entries, 0 to 3807
Data columns (total 6 columns):
Group Name                  3808 non-null object
Group PAC ID                3808 non-null int64
State                       3808 non-null object
Measure Title               3808 non-null object
Measure Performance Rate    3518 non-null float64
Year                        3808 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 178.6+ KB

In [101]:
pcgroup_16['Group PAC ID'].nunique()

476

In [107]:
PAC_state_16 = pcgroup_16[['Group PAC ID', 'State']].copy()
PAC_state_16 = PAC_state_16.drop_duplicates()
PAC_state_16.head(5)

    Group PAC ID State
0       42105678    PA
8       42122244    CA
16      42128548    TX
24     143116053    MO
32     143134270    AR

In [108]:
PAC_state_16.info()
PAC_state_16['Group PAC ID'].nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 0 to 3800
Data columns (total 2 columns):
Group PAC ID    476 non-null int64
State           476 non-null object
dtypes: int64(1), object(1)
memory usage: 11.2+ KB

476

In [121]:
#mean scores for PAC_ID 
PAC_Scores_16 = pd.DataFrame(pcgroup_16.groupby(['Group PAC ID']).mean())
PAC_Scores_16.head()

              Measure Performance Rate  Year
Group PAC ID
42105678                        67.625  2016
42122244                        64.250  2016
42128548                        66.250  2016
143116053                       65.375  2016
143134270                       59.250  2016

In [122]:
PAC_Scores_16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 42105678 to 9931359601
Data columns (total 2 columns):
Measure Performance Rate    476 non-null float64
Year                        476 non-null int64
dtypes: float64(1), int64(1)
memory usage: 11.2 KB

In [123]:
PAC_Scores_2016 = pd.merge(PAC_Scores_16, PAC_state_16, on="Group PAC ID",how='outer')
PAC_Scores_2016 = PAC_Scores_2016_f.dropna(axis=0, how='any')
PAC_Scores_2016_f.head()

   Group PAC ID  Measure Performance Rate  Year State
0      42105678                    67.625  2016    PA
1      42122244                    64.250  2016    CA
2      42128548                    66.250  2016    TX
3     143116053                    65.375  2016    MO
4     143134270                    59.250  2016    AR

In [124]:
PAC_Scores_2016_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 0 to 475
Data columns (total 4 columns):
Group PAC ID                476 non-null int64
Measure Performance Rate    476 non-null float64
Year                        476 non-null int64
State                       476 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 18.6+ KB

In [ ]:
PAC_Scores_2016_f.to_csv("../Presentation/clean/PAC_Scores_2016.csv", index=False, header=True)