In [20]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv1 = '../Presentation/clean/cleaned_overdose.csv'
csv2 = '../Presentation/clean/op_final_15.csv'
csv3 = '../Presentation/clean/op_final_16.csv'
csv4 = '../Presentation/clean/pcgroup_15.csv'
csv5 = '../Presentation/clean/pcgroup_16.csv'

clean_od = pd.read_csv(csv1)
op_final_15 = pd.read_csv(csv2)
op_final_16 = pd.read_csv(csv3)
pcgroup_15 = pd.read_csv(csv4)
pcgroup_16 = pd.read_csv(csv5)

In [2]:
clean_od.dtypes

State           object
Year             int64
Month           object
Total Deaths     int64
Drug Deaths      int64
dtype: object

In [3]:
#Overdose Table
clean_od.head(3)

  State  Year     Month  Total Deaths  Drug Deaths
0    AK  2015   January          4034          126
1    AK  2015  February          4084          127
2    AK  2015     March          4101          125

In [21]:
pcgroup_15.head(2)

,Group Name,Group PAC ID,State,Measure Title,Measure Performance Rate,Year
0,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,"Getting timely care, appointments, and informa...",63.0,2015
1,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Between visit communication.,49.0,2015

In [25]:
pcgroup_15 = pcgroup_15.rename(columns={' State': 'State'})
cleaned_od_table.to_csv("../Presentation/clean/cleaned_overdose.csv", index=False, header=True)

In [27]:
pcgroup_15.columns

Index(['Group Name', 'Group PAC ID', 'State', 'Measure Title',
       'Measure Performance Rate', 'Year'],
      dtype='object')

In [26]:
#get states of PAC IDs
PAC_state= pcgroup_15[['Group PAC ID', 'State']].copy()

PAC_state.head(5)

   Group PAC ID State
0      42105678    PA
1      42105678    PA
2      42105678    PA
3      42105678    PA
4      42105678    PA

In [6]:
pcgroup_15.dtypes

Group Name                   object
Group PAC ID                  int64
 State                       object
Measure Title                object
Measure Performance Rate    float64
Year                          int64
dtype: object

In [10]:
#mean scores for PAC_ID 
PAC_Scores = pd.DataFrame(pcgroup_15.groupby(['Group PAC ID']).mean())
PAC_Scores.head(3)
#429 rows

              Measure Performance Rate  Year
Group PAC ID
42105678                        65.875  2015
42111981                        60.750  2015
42128548                        65.125  2015

In [12]:
PAC_Scores.describe()

       Measure Performance Rate    Year
count                429.000000   429.0
mean                  64.710889  2015.0
std                    6.739775     0.0
min                    6.000000  2015.0
25%                   63.250000  2015.0
50%                   65.625000  2015.0
75%                   67.375000  2015.0
max                   88.200000  2015.0

In [4]:
#drop unnecessary columns
odcount = odcount.drop(columns=['level_1','level_6','level_7','level_8','VSRR_Provisional_Drug_Overdose_Death_Counts'])
odcount.head()

  level_0 level_2   level_3           level_4     level_5
0   State    Year     Month         Indicator  Data Value
1      AK    2015   January  Number of Deaths       4,034
2      AK    2015  February  Number of Deaths       4,084
3      AK    2015     March  Number of Deaths       4,101
4      NM    2018   January  Number of Deaths      18,147

In [5]:
#rename columns
odcount = odcount.rename(columns={'level_0':'State','level_2':'Year','level_3':'Month','level_4':'Indicator','level_5':'Overdose'})
odcount.head()

   State  Year     Month         Indicator    Overdose
0  State  Year     Month         Indicator  Data Value
1     AK  2015   January  Number of Deaths       4,034
2     AK  2015  February  Number of Deaths       4,084
3     AK  2015     March  Number of Deaths       4,101
4     NM  2018   January  Number of Deaths      18,147

In [6]:
#drop index 0 and print data frame
deathcounts = odcount.drop([0])
deathcounts.head()

  State  Year     Month         Indicator Overdose
1    AK  2015   January  Number of Deaths    4,034
2    AK  2015  February  Number of Deaths    4,084
3    AK  2015     March  Number of Deaths    4,101
4    NM  2018   January  Number of Deaths   18,147
5    AK  2015     April  Number of Deaths    4,133

In [7]:
deathcounts['Indicator'].unique()

array(['Number of Deaths', 'Number of Drug Overdose Deaths',
       'Methadone (T40.3)', 'Percent with drugs specified',
       'Cocaine (T40.5)', 'Heroin (T40.1)',
       'Natural & semi-synthetic opioids (T40.2)',
       'Opioids (T40.0-T40.4,T40.6)',
       'Psychostimulants with abuse potential (T43.6)',
       'Synthetic opioids, excl. methadone (T40.4)',
       'Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)',
       'Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)'],
      dtype=object)

In [8]:
#Create 2 new tables with data so rows with "Number of Deaths" and "Number of Drug Overdose Deaths" are separated
Total_deaths = deathcounts.loc[(deathcounts["Indicator"] == "Number of Deaths"),:]
Total_drug_deaths = deathcounts.loc[(deathcounts["Indicator"] == "Number of Drug Overdose Deaths"),:]
Total_drug_deaths.head()

    State  Year     Month                       Indicator Overdose
57     PA  2018      June  Number of Drug Overdose Deaths    4,755
58     PA  2018      July  Number of Drug Overdose Deaths    4,686
108    AK  2015   January  Number of Drug Overdose Deaths      126
109    AK  2015  February  Number of Drug Overdose Deaths      127
110    AK  2015     March  Number of Drug Overdose Deaths      125

In [9]:
#create new column with a index of the above 3 columns
Total_deaths['state_yr_mo'] = Total_deaths['State'] + Total_deaths['Year'] + Total_deaths['Month']
Total_drug_deaths['state_yr_mo'] = Total_drug_deaths['State'] + Total_drug_deaths['Year'] + Total_drug_deaths['Month']
Total_drug_deaths.head()

C:\Users\ahmed\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ahmed\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,State,Year,Month,Indicator,Overdose,state_yr_mo
57,PA,2018,June,Number of Drug Overdose Deaths,"4,755",PA2018June
58,PA,2018,July,Number of Drug Overdose Deaths,"4,686",PA2018July
108,AK,2015,January,Number of Drug Overdose Deaths,126,AK2015January
109,AK,2015,February,Number of Drug Overdose Deaths,127,AK2015February
110,AK,2015,March,Number of Drug Overdose Deaths,125,AK2015March

In [10]:
#Merge Total Deaths and Drug Deaths
od_combined_table = pd.merge(Total_deaths, Total_drug_deaths, on="state_yr_mo", how='outer')

cleaned_od_table = od_combined_table.drop_duplicates()

cleaned_od_table.head(3)

,State_x,Year_x,Month_x,Indicator_x,Overdose_x,state_yr_mo,State_y,Year_y,Month_y,Indicator_y,Overdose_y
0,AK,2015,January,Number of Deaths,"4,034",AK2015January,AK,2015,January,Number of Drug Overdose Deaths,126
4,AK,2015,February,Number of Deaths,"4,084",AK2015February,AK,2015,February,Number of Drug Overdose Deaths,127
8,AK,2015,March,Number of Deaths,"4,101",AK2015March,AK,2015,March,Number of Drug Overdose Deaths,125

In [11]:
cleaned_od_table = cleaned_od_table.drop(columns=['Indicator_x','state_yr_mo', 'State_y',\
                                                  'Year_y','Month_y', 'Indicator_y'])
cleaned_od_table.head(3)

  State_x Year_x   Month_x Overdose_x Overdose_y
0      AK   2015   January      4,034        126
4      AK   2015  February      4,084        127
8      AK   2015     March      4,101        125

In [12]:
cleaned_od_table = cleaned_od_table.rename(columns={'State_x': 'State', 'Year_x':'Year', 'Month_x':'Month',\
                                                   'Overdose_x':'Total Deaths', 'Overdose_y':'Drug Deaths' })
cleaned_od_table.head(3)

  State  Year     Month Total Deaths Drug Deaths
0    AK  2015   January        4,034         126
4    AK  2015  February        4,084         127
8    AK  2015     March        4,101         125

In [13]:
# Export file as a CSV, without the Pandas index, but with the header
cleaned_od_table.to_csv("../Presentation/clean/cleaned_overdose.csv", index=False, header=True)

In [43]:
#Opiate Prescribers-2015 data frame
op_prescriber15.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,Long-Acting Opioid Claims,Long-Acting Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171,174.0,20.543093
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302,0.0,0.000000
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000,0.0,NaN
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053,0.0,0.000000

In [44]:
#drop last two columns: Long Acting Opioid Claims and Long Acting Opioid Prescribing Rate
op_prescriber15 = op_prescriber15.drop(columns=['Long-Acting Opioid Claims','Long-Acting Opioid Prescribing Rate'])
op_prescriber15.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053

In [45]:
#renamed columns
op_prescriber15 = op_prescriber15.rename(columns={'NPPES Provider Last Name':'Provider Last Name','NPPES Provider First Name':'Provider First Name','NPPES Provider ZIP Code':'Zip Code','NPPES Provider State':'State','Specialty Description':'Specialty'})
op_prescriber15.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053

In [46]:
#Opiate Prescribers-2016 data frame
op_prescriber16.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,Long-Acting Opioid Claims,Long-Acting Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904,165.0,17.534538
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980,0.0,0.000000
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN,0.0,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045,NaN,NaN

In [47]:
#drop last two columns: Long Acting Opioid Claims and Long Acting Opioid Prescribing Rate
op_prescriber16 = op_prescriber16.drop(columns=['Long-Acting Opioid Claims','Long-Acting Opioid Prescribing Rate'])
op_prescriber16.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045

In [48]:
#renamed columns
op_prescriber16 = op_prescriber16.rename(columns={'NPPES Provider Last Name':'Provider Last Name','NPPES Provider First Name':'Provider First Name','NPPES Provider ZIP Code':'Zip Code','NPPES Provider State':'State','Specialty Description':'Specialty'})
op_prescriber16.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045

In [49]:
#Physician Ratings 2016
phys_ratings16.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Denominator Count,Collection Type,Reported on PC Live Site
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,20,71,CLM,N
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,41,90,CLM,N
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,29,70,CLM,N
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_130_1,Documentation of Current Medications in the Me...,N,91,255,CLM,N
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_226_1,Preventive Care and Screening: Tobacco Use: Sc...,N,98,104,CLM,N

In [50]:
#dropped 'inverse measure','collection type', and 'reported on pc live site'
ratings2016 = phys_ratings16.drop(columns=['PAC ID','Inverse Measure','Collection Type','Reported on PC Live Site'])
ratings2016.head()

,NPI,Last Name,First Name,Measure Identifier,Measure Title,Measure Performance Rate,Denominator Count
0,1508823618,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,20,71
1,1508823618,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,41,90
2,1508823618,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,29,70
3,1508823618,GRIFFIN,DAVID,PQRS_EP_130_1,Documentation of Current Medications in the Me...,91,255
4,1508823618,GRIFFIN,DAVID,PQRS_EP_226_1,Preventive Care and Screening: Tobacco Use: Sc...,98,104