In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv0 = '../Presentation/clean/clean_od15.csv'
clean_od_2015 = pd.read_csv(csv0)

csv1 = '../Presentation/clean/clean_od16.csv'
clean_od_2016 = pd.read_csv(csv1)

csv2 = '../Presentation/clean/op_final_15.csv'
op_final_15 = pd.read_csv(csv2)

csv3 = '../Presentation/clean/op_final_16.csv'
op_final_16 = pd.read_csv(csv3)

csv4 = '../Presentation/clean/PAC_Scores_2015.csv'
PAC_Scores_2015 = pd.read_csv(csv4)

csv5 = '../Presentation/clean/PAC_Scores_2016_f.csv'
PAC_Scores_2016 = pd.read_csv(csv5)


csv7 = '../Presentation/clean/op_pac_final_15.csv'
op_pac_final_15 = pd.read_csv(csv7)

csv8 = '../Presentation/clean/op_pac_final_16.csv'
op_pac_final_16 = pd.read_csv(csv8)

csv9 = '../Presentation/clean/state_op_final_15.csv'
state_op_final_15 = pd.read_csv(csv9)

csv10 = '../Presentation/clean/state_op_final_16.csv'
state_op_final_16 = pd.read_csv(csv10)

In [6]:
clean_od_2015.head()

   Year State  Year.1     Month  Total Deaths  Drug Deaths
0  2015    AK    2015   January          4034          126
1  2015    AK    2015  February          4084          127
2  2015    AK    2015     March          4101          125
3  2015    AK    2015     April          4133          126
4  2015    AK    2015       May          4196          125

In [7]:
op_final_15.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
0,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,1388.0,26.0,1.873199,2.769664e+09,2015.0
1,1003002932,GALUSKA,MICHAEL,92055.0,CA,Emergency Medicine,97.0,20.0,20.618557,9.739345e+09,2015.0
2,1003003856,SANTIAGO,CYNTHIA,11776.0,NY,Family Practice,2741.0,28.0,1.021525,6.305813e+09,2015.0
3,1003006503,JEGEDE,OLUGBEMIGA,48503.0,MI,Internal Medicine,1606.0,86.0,5.354919,1.951572e+09,2015.0
4,1003007295,UZOWULU,OBINNA,78261.0,TX,Family Practice,237.0,21.0,8.860759,5.395939e+09,2015.0

In [8]:
PAC_Scores_2015.head()

   Group PAC ID  Measure Performance Rate  Year State
0      42105678                    65.875  2015    PA
1      42111981                    60.750  2015    MN
2      42128548                    65.125  2015    TX
3     143378117                    67.375  2015    NC
4     244133494                    65.625  2015    MA

In [ ]:
plt.s