In [61]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv1 = '../Presentation/clean/cleaned_overdose.csv'
csv2 = '../Presentation/clean/op_final_15.csv'
csv3 = '../Presentation/clean/op_final_16.csv'
csv4 = '../Presentation/clean/pcgroup_15.csv'
csv5 = '../Presentation/clean/pcgroup_16.csv'

clean_od = pd.read_csv(csv1)
op_final_15 = pd.read_csv(csv2)
op_final_16 = pd.read_csv(csv3)
pcgroup_15 = pd.read_csv(csv4)
pcgroup_16 = pd.read_csv(csv5)
print(len(clean_od))
clean_od = clean_od.drop_duplicates(subset = ['State' , 'Year' , 'Month'])
tester =  clean_od.set_index('State')
tester2 = tester.drop(labels = 'YC' , axis = 0)
print(len(tester2))
clean_od = tester2.reset_index()
print(clean_od)

2865
2288
     State  Year      Month  Total Deaths  Drug Deaths
0       AK  2015    January          4034          126
1       AK  2015   February          4084          127
2       AK  2015      March          4101          125
3       NM  2018    January         18147          489
4       AK  2015      April          4133          126
5       AK  2015        May          4196          125
6       NM  2018   February         18148          486
7       NM  2018      March         18178          485
8       NM  2018      April         18162          482
9       AK  2015       June          4201          121
10      NM  2018        May         18028          478
11      NM  2018       June         18143          498
12      AK  2015       July          4220          117
13      AK  2015     August          4222          124
14      AK  2015  September          4242          125
15      AK  2015    October          4241          120
16      AK  2015   November          4219          115
17      AK  2015   December          4193          121
18      AK  2016    January          4213          126
19      AK  2016   February          4198          128
20      AK  2016      March          4230          125
21      AK  2016      April          4262          132
22      AK  2016        May          4241          140
23      AK  2016       June          4261          138
24      AK  2016       July          4269          143
25      AK  2016     August          4276          138
26      AK  2016  September          4256          131
27      AK  2016    October          4291          131
28      AK  2016   November          4289          133
29      AK  2016   December          4355          129
...    ...   ...        ...           ...          ...
2258    WY  2016        May          4404           94
2259    WY  2016       June          4430          101
2260    WY  2016       July          4387           99
2261    WY  2016     August          4395           95
2262    WY  2016  September          4358           93
2263    WY  2016    October          4365           94
2264    WY  2016   November          4337           94
2265    WY  2016   December          4347           93
2266    WY  2017    January          4352           91
2267    WY  2017   February          4339           90
2268    WY  2017      March          4346           82
2269    WY  2017      April          4380           80
2270    WY  2017        May          4383           73
2271    WY  2017       June          4323           64
2272    WY  2017       July          4321           62
2273    WY  2017     August          4297           64
2274    WY  2017  September          4332           62
2275    WY  2017    October          4354           66
2276    WY  2017   November          4380           71
2277    WY  2017   December          4374           66
2278    WY  2018    January          4425           63
2279    WY  2018   February          4431           64
2280    WY  2018      March          4456           65
2281    WY  2018      April          4447           66
2282    WY  2018        May          4447           64
2283    VA  2018     August         68066         1400
2284    WA  2018     August         56989         1082
2285    WI  2018     August         53631         1075
2286    WV  2018     August         23046          776
2287    WY  2018     August          4512           64

[2288 rows x 5 columns]

In [62]:
clean_od = clean_od.set_index(clean_od['Year'])
od2015 = clean_od.loc[2015]
od2016 = clean_od.loc[2016]
od2015 = pd.DataFrame(od2015)
od2016 = pd.DataFrame(od2016)
od2015.to_csv(path_or_buf = '../Presentation/clean/clean_od15.csv')
od2016.to_csv(path_or_buf = '../Presentation/clean/clean_od16.csv')
od2015 = od2015.drop_duplicates()
test = od2015.groupby('State').sum()
len(od2015)

624