In [11]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv1 = '../Presentation/clean/cleaned_overdose.csv'
csv2 = '../Presentation/clean/op_final_15.csv'
csv3 = '../Presentation/clean/op_final_16.csv'
csv4 = '../Presentation/clean/pcgroup_15.csv'
csv5 = '../Presentation/clean/pcgroup_16.csv'

clean_od = pd.read_csv(csv1)
op_final_15 = pd.read_csv(csv2)
op_final_16 = pd.read_csv(csv3)
pcgroup_15 = pd.read_csv(csv4)
pcgroup_16 = pd.read_csv(csv5)
clean_od

     State  Year      Month  Total Deaths  Drug Deaths
0       AK  2015    January          4034          126
1       AK  2015   February          4084          127
2       AK  2015      March          4101          125
3       NM  2018    January         18147          489
4       AK  2015      April          4133          126
5       AK  2015        May          4196          125
6       NM  2018   February         18148          486
7       NM  2018   February         18150          486
8       NM  2018      March         18178          485
9       NM  2018      March         18178          484
10      NM  2018      March         18181          485
11      NM  2018      March         18181          484
12      NM  2018      April         18162          482
13      NM  2018      April         18162          481
14      NM  2018      April         18166          482
15      NM  2018      April         18166          481
16      AK  2015       June          4201          121
17      NM  2018        May         18028          478
18      NM  2018        May         18028          476
19      NM  2018        May         18035          478
20      NM  2018        May         18035          476
21      NM  2018       June         18143          498
22      NM  2018       June         18143          494
23      NM  2018       June         18151          498
24      NM  2018       June         18151          494
25      AK  2015       July          4220          117
26      AK  2015     August          4222          124
27      AK  2015  September          4242          125
28      AK  2015    October          4241          120
29      AK  2015   November          4219          115
...    ...   ...        ...           ...          ...
2835    YC  2017    October         54287         1507
2836    YC  2017   November         54241         1509
2837    YC  2017   December         54319         1493
2838    YC  2018    January         54737         1488
2839    YC  2018   February         54919         1492
2840    YC  2018   February         54919         1493
2841    YC  2018      March         54993         1509
2842    YC  2018      March         54993         1515
2843    YC  2018      April         55067         1523
2844    YC  2018      April         55067         1534
2845    YC  2018      April         55068         1523
2846    YC  2018      April         55068         1534
2847    YC  2018        May         54916         1489
2848    YC  2018        May         54916         1512
2849    YC  2018        May         54917         1489
2850    YC  2018        May         54917         1512
2851    YC  2018       June         54997         1467
2852    YC  2018       June         54997         1501
2853    YC  2018       June         54998         1467
2854    YC  2018       June         54998         1501
2855    YC  2018       July         55034         1432
2856    YC  2018       July         55034         1483
2857    YC  2018       July         55035         1432
2858    YC  2018       July         55035         1483
2859    VA  2018     August         68066         1400
2860    WA  2018     August         56989         1082
2861    WI  2018     August         53631         1075
2862    WV  2018     August         23046          776
2863    WY  2018     August          4512           64
2864    YC  2018     August         54993         1511

[2865 rows x 5 columns]

In [18]:
clean_od = clean_od.set_index(clean_od['Year'])
od2015 = clean_od.loc[2015]
od2016 = clean_od.loc[2016]
od2015 = pd.DataFrame(od2015)
od2016 = pd.DataFrame(od2016)
od2015.to_csv(path_or_buf = '../Presentation/clean/clean_od.csv')