In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [9]:
group_file = "../Presentation/Clean/pcgroup_merged.csv"
group_15 = "../Presentation/Clean/pcgroup_15.csv"
group_16 = "../Presentation/Clean/pcgroup_16.csv"
opioid_15 = "../Presentation/Clean/op_final_15.csv"
opioid_16 = "../Presentation/Clean/op_final_16.csv"




pc_groupdf = pd.read_csv(group_file)
pc_group15df = pd.read_csv(group_15)
pc_group16df = pd.read_csv(group_16)
opioid_15df = pd.read_csv(opioid_15)
opioid_16df = pd.read_csv(opioid_16)

In [4]:
#pc_groupdf.head()

In [5]:
#avg_rating = pc_groupdf.groupby("Group PAC ID")[["Measure Performance Rate"]].mean()

In [6]:
#avg_rating.head()

In [10]:
opioid_15df.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
0,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,1388.0,26.0,1.873199,2.769664e+09,2015.0
1,1003002932,GALUSKA,MICHAEL,92055.0,CA,Emergency Medicine,97.0,20.0,20.618557,9.739345e+09,2015.0
2,1003003856,SANTIAGO,CYNTHIA,11776.0,NY,Family Practice,2741.0,28.0,1.021525,6.305813e+09,2015.0
3,1003006503,JEGEDE,OLUGBEMIGA,48503.0,MI,Internal Medicine,1606.0,86.0,5.354919,1.951572e+09,2015.0
4,1003007295,UZOWULU,OBINNA,78261.0,TX,Family Practice,237.0,21.0,8.860759,5.395939e+09,2015.0

In [27]:
opioid_15df["PAC ID"] =  opioid_15df["PAC ID"].astype(float).astype(int)

In [28]:
opioid_15df.dtypes

NPI                          int64
Provider Last Name          object
Provider First Name         object
Zip Code                   float64
State                       object
Specialty                   object
Total Claim Count          float64
Opioid Claim Count         float64
Opioid Prescribing Rate    float64
PAC ID                       int32
Year                       float64
dtype: object

In [29]:
opioid_15_pac = pd.DataFrame(opioid_15df.groupby(["PAC ID"])["Total Claim Count"].sum())
#opioid_15_pac["PAC ID"] = opioid_15_pac["PAC ID"]

In [31]:
opioid_15_pac.head()

             Total Claim Count
PAC ID
-2147483648         34157478.0
 42100190                241.0
 42100273                232.0
 42101156                620.0
 42101164                336.0

In [11]:
pc_group15df.head()

,Group Name,Group PAC ID,State,Measure Title,Measure Performance Rate,Year
0,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,"Getting timely care, appointments, and informa...",63.0,2015
1,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Between visit communication.,49.0,2015
2,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Attention to patient medication cost.,27.0,2015
3,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,How well clinicians communicate.,86.0,2015
4,HERITAGE VALLEY MEDICAL GROUP INC,42105678,PA,Patients' rating of clinicians.,83.0,2015

In [26]:
pc_group15df.dtypes

Group Name                   object
Group PAC ID                  int64
 State                       object
Measure Title                object
Measure Performance Rate    float64
Year                          int64
dtype: object

In [16]:
pc_group_pac15 = pd.DataFrame(pc_group15df.groupby(["Group PAC ID"]).mean())

In [18]:
pc_group_pac15.head()

              Measure Performance Rate  Year
Group PAC ID
42105678                        65.875  2015
42111981                        60.750  2015
42128548                        65.125  2015
143378117                       67.375  2015
244133494                       65.625  2015